.has-fade {
  visibility: hidden;
} 

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

.swing img {
  display: block;
}

.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 52%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.dance2 {
  animation: dance2 4s alternate infinite;
}

@keyframes dance2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(15px, -15px, 0);
  }
  100% {
    transform: translate3d(0, -15px, 15px);
  }
}

.grayAnim {
  animation: grayAnim 2s linear alternate-reverse infinite;
}

@keyframes grayAnim {
  from {
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
  }
}

.spin {
  animation: spin 10s linear alternate-reverse forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.zoomAnim {
  animation: zoomAnim 4s alternate infinite;
}

@keyframes zoomAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.zoomAnimBig {
  animation: zoomAnimBig 20s alternate infinite;
}

@keyframes zoomAnimBig {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

.color-blink {
  animation: color-blink 4s linear alternate-reverse forwards;
  animation-iteration-count: infinite;
}

@keyframes color-blink {
  from {
    /* fill: black; */
  }
  to {
    fill: rgb(224, 224, 224);
  }
}
