
$primary: #1A194D;
$secondary:#FFE000;
$pm-font:'Roboto', sans-serif;
$sec-font:'Inter', sans-serif;
$text-muted:#A8A8A7;
$bg-lit: #f2f2f2;
$pm-lite: #eaebf2;
$sec-lite:#fff7cd;
$hash-text: #64645E;
$lit-border-color: #d9d9d9;

$pm-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$pm-transition: 200ms all linear;
$pm-img: invert(1%) sepia(1%) saturate(620%) hue-rotate(242deg) brightness(25%) contrast(92%);
$sec-img:invert(75%) sepia(95%) saturate(956%) hue-rotate(359deg) brightness(105%) contrast(106%);
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

//transition
$ts-opacity: opacity 300ms ease-in-out;
$ts-all: all 300ms ease-in-out;
