.footer {
    background-image: url(../../assets/images/footer-bg.jpg);
    background-size: cover;
    // background-position: top 20% center;
    margin-top: 3em;
    height: 100%;
    padding-bottom: 0.5em;

    @include breakpoint-up(large){
        margin-top: 12em;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        height: 100%;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    .news-letter-card {
        background-color: $primary;
        color: #ffffff;
        padding: 1em;
        position: absolute;
        left: 50%;
        inset: 0 auto 0 auto;
        top: -5%;
        width: 80vw;
        height: fit-content;

        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4em ;
            top: -20%;

        }
      
        h2 {
            margin: 0;
            @include breakpoint-up(large) {
                font-size: 2rem;
                max-width: 25ch;
            }
            @include breakpoint-up(xlarge) {
                font-size: 2rem;
                max-width: 30ch;
            }
        }
        form {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            @include breakpoint-up(large){
                gap: 2em;
            }
            @include breakpoint-up(xlarge){
                gap: 4em;
            }
        }
        input {
            background-color: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            border-bottom: 1px solid;
            padding-bottom: 0.5em;
            font-size: 1rem;
        }
        button {
            border: 1px solid $lit-border-color;
            color: $text-muted;
            svg{
                fill: #fff;
            }
        }
    }
    &__div {
        padding-top: 25vw;
        width: 83vw;
        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1em;
            padding-top: 20vw;
            place-items: start;
        }

        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 1fr;
            gap: 1em;
            padding-top: 15vw;
            place-items: start;
        }
        @include breakpoint-up(xlarge) {
          
            padding-top: 10vw;
            padding-bottom: 5vw;
        }
        p {
            color: #ffffff;
            text-wrap: wrap;
            max-width: 80%;
            &:hover {
                opacity: 70%;
            }
        }
        h3 {
            color: #ffffff;
            border-bottom: 1px solid $lit-border-color;
            width: fit-content;
            padding-bottom: 0.5em;
            margin-bottom: 1em;
            font-size: 1.2rem;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                &:hover {
                    opacity: 70%;
                }
                display: flex;
                align-items: center;
                gap: 1em;
                a {
                    color: #ffffff;
                }
                svg {
                    fill: $secondary;
                }
            }
        }
    }
    &__copyright{
        background-color: #8c8c85;
        padding: 1em 0.5em;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        @include breakpoint-up(medium){
            padding: 1em;
        }
        @include breakpoint-up(large){
            padding: 2em;
        }
        a{
            color:$primary
        }
        .footer-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            order: 1;
            @include breakpoint-up(medium){
                order: 2;
            }
            img{
                width: 4em;
                object-fit: contain;
                @include breakpoint-up(medium){
                   width: 5em;
                }
                @include breakpoint-up(large){
                   width: 8em;
                }
            }
           
        }
       .social-icons{
        order: 2;
        @include breakpoint-up(medium){
            order: 1;
        }
        ul{
            display: flex;
            gap: 0.5em;
            li{
                width: 1em;
                height: 1em;
                background-color: $secondary;
                border-radius: 50%;
                padding: 2px;
                transition: $pm-transition;
                @include breakpoint-up(large){
                   width: 2em;
                   height: 2em;
                }
                @extend .flex-center-column;
                svg{
                    fill:$primary;

                }
                &:hover{
                    background-color: $primary;
                    transform: translateY(-3px);
                    svg{
                        fill: #ffffff;
                    }
                }
            }
        }
       }
       .credit{
        order: 3;
        @include breakpoint-up(medium){
            order: 3;
        }
        article{
            margin: 0;
        }
        a{
            font-size: 0.7rem;
            letter-spacing: 1px;
            font-weight:bold;
            &:hover{
                color:$secondary;
            }
        }
       }
    }
}
